<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Profile</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'quotes/css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
    <div class="container">
        <div class="nav-bar">
            <span id="left">Posts by {{poster.alias}}</span><span id="right"><a href="/quotes">Dashboard</a> | <a href="/logout">Logout</a></span>
            <p>Count: {{count}}</p>
        </div>
        {% for post in poster.posters.all %}
            <p><span id="red">{{post.author}}</span>:<span>{{post.message}}</span></p>
        {% endfor %}
    </div>
</body>
</html>