<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome!</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'login/css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
    <div class="container">
        <h1>Welcome!</h1>
        
        {% if messages %}
        <div class="error_message">
            {% for message in messages %}
                <p >**{{ message }}**</p>
            {% endfor %}
        </div>
        {% endif %}
        
        <div class="group">
            <h3>Register</h3>
            <form action="/register" method="POST">
                {% csrf_token %}
                <label for="name">Name:</label>
                <input type="text" name="name">
                <label for="alias">Alias:</label>
                <input type="text" name="alias">
                <label for="email">Email:</label>
                <input type="email" name="email">
                <label for="password">Password:</label>
                <input type="password" name="password">
                <p id="pw_text">*Password should be at least 8 characters</p>
                <label for="confirm_pw">Confirm PW:</label>
                <input type="password" name="confirm_pw">
                <label for="dob">Date of Birth:</label>
                <input type="date" name="dob">
                <input type="submit" value="Register">
            </form>
        </div>
        <div class="group">
            <h3>Login</h3>
            <form action="/login" method="POST">
                {% csrf_token %}
                <label  for="email">Email:</label>
                <input type="text" name="email">
                <label  for="password">Password:</label>
                <input type="password" name="password">
                <input type="submit" value="Login">
            </form>
        </div>
    </div>

</body>
</html>